$color-background: #fff !default;
$color-main: #fff !default;
$color-gray01: rgb(68, 68, 68) !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;
$color-gray06: #888 !default;
$color-link: #3D90B7 !default;
$color-link-hover: #59A3C6 !default;